.tools/
**/node_modules/
**/.next/
**/uploads/
**/prisma/dev.db
**/prisma/dev.db-journal
.env
.env.local
.env.*.local
*.zip
.DS_Store

.vercel
.env*

.env.local
web/.env.local
web/.env.vercel
.vercel
web/.vercel
